.about-card{
  background: radial-gradient(transparent, rgba(0,0,0,.9)) fixed, url("../../img/top-view.jpg");
  background-blend-mode: multiply;
  background-size: cover;
  margin: 1rem;
  height: 150px;
  padding: 3rem 0;
  text-align: center;
}

.about-card .title{
  color: #ffffff;
}