.about-card{
  width: 100%;
}
.about-card div{
  background: radial-gradient(transparent, rgba(0,0,0,.9)) fixed, url("/top-view.jpg");
  background-blend-mode: multiply;
  margin: 1rem;
  height: 150px;
  padding: 3rem 0;
  text-align: center;
}

.about-card .title{
  color: #ffffff;
}

.about-card .message{
  background: radial-gradient(transparent, rgba(0,0,0,.9)) fixed, url("/about/boss.jpg");
  background-size: cover;
}

.about-card .vision{
  background: radial-gradient(transparent, rgba(0,0,0,.9)) fixed, url("/about/vision.jpg");
  background-size: cover;
}

.about-card .members{
  background: radial-gradient(transparent, rgba(0,0,0,.9)) fixed, url("/about/members.jpg");
  background-size: cover;
}

/* Member page */
.member-orange{
  
}